body {
    margin: 0;
    background: linear-gradient(to right, #000936, rgb(23, 57, 136));
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}






nav {
  background: linear-gradient(to bottom, #033473, rgb(21, 70, 184));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ffdd00;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  
}

nav a:hover {
  color: #38bdf8;
}







.v1 {
  width: 450px;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.videoapp {
  width: 355px;
  border-radius: 20px;
}







h1{
    font-family: 'Franklin Gothic Medium';
    color: white;
}

h2 {
    font-family: 'Franklin Gothic Medium';
    color: white;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  margin: auto;
}

p {
    color: white;
    font-family: 'Lucida Sans';
}

footer p {
    color: yellow;
    font-family: 'Cambria';
    text-align: center;
}

li {
    color: white;
    font-family: 'Lucida Sans';
}

.fonta {
  text-decoration: none;
  color: white;
  font-family: Arial;
}






.img1 {
  display: block;
  margin: auto;
  border-radius: 15px;
}

.imgapp {
  width: 336px;
  border-radius: 20px;
}

.goldhe {
  display: block;
  margin: auto;
  width: 200px;
}

.correto {
  width: 12px;
}

.erro {
  width: 13px;
}

.erro1 {
  width: 40px;
}

.app {
  width: 200px;
  border-radius: 20px;
}







.tabelagh {
  margin: auto;
  width: 710px;
  background-color: rgb(54, 57, 84);
  border-collapse: collapse;
  border-color: #000000;
}

.metodop {
  text-align: center;
}

.nome {
  text-align: center;
  height: 55px;
}

tr {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: 'Franklin Gothic Medium'
}

.fonte1 {
  font-family: 'Franklin Gothic Medium';
  background-color: #566da7;
}

.indisp {
  font-family: 'Franklin Gothic Medium';
  color: rgb(226, 106, 106);
}

.indisp1 {
  font-family: 'Franklin Gothic Medium';
  color: rgb(226, 106, 106);
  text-align: center;
}

.disp {
  font-family: 'Franklin Gothic Medium';
}

.firmware {
  font-family: 'Franklin Gothic Medium';
  color: rgb(111, 222, 0);
}

.firmware1 {
  font-family: 'Franklin Gothic Medium';
  color: rgb(226, 106, 106);
}






.grad {
  display: flex;
}

.nomapp {
  font-family: 'Franklin Gothic Medium';
  margin: auto;
}

footer {
  background: linear-gradient(to top, #033473, rgb(21, 70, 184));
  padding-bottom: 15px;
  padding-top: 1px;
}
